In [1]:
# for the web scrapping i have use the INSTANT DATA SCAPER to scrap the web data into csv file

# Import all require modules

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
import nltk
nltk.download('punkt') #for word tokenization
nltk.download('stopwords') #for removing or getting list of stopwords
nltk.download('wordnet') #for lemmatization

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\swapn\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\swapn\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\swapn\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
from nltk.tokenize import word_tokenize
from nltk.corpus import  stopwords
from nltk.stem import WordNetLemmatizer
import matplotlib.pyplot as plt
#from wordcloud import WordCloud

In [5]:
df = pd.read_csv("google.csv")

In [6]:
df

,Names,feedback,review-snippet,review-full-text
0,Komit Bagate,Positive:,NaN,NaN
1,omkar thorat,Positive:,I enrolled for data science course. I got to l...,I enrolled for data science course. I got to l...
2,Apoorva Shelar,Positive:,All the teaching staff and non-teaching staff ...,All the teaching staff and non-teaching staff ...
3,Shailesh Jadhav,NaN,"IT vedant is very excellent institution, Becau...","IT vedant is very excellent institution, Becau..."
4,Siddhi Lale,Positive:,NaN,NaN
...,...,...,...,...
281,HersheyOP,NaN,NaN,NaN
282,Yogesh Bhurawane,Critical:,NaN,NaN
283,Sunil Bhave,NaN,NaN,NaN
284,swapnil gondkar,NaN,NaN,NaN
285,shelar vaibhav,NaN,NaN,NaN

In [7]:
df.drop(["review-snippet"],axis=1,inplace=True)
df.drop(["Names"],axis=1,inplace=True)

In [8]:
df

      feedback                                   review-full-text
0    Positive:                                                NaN
1    Positive:  I enrolled for data science course. I got to l...
2    Positive:  All the teaching staff and non-teaching staff ...
3          NaN  IT vedant is very excellent institution, Becau...
4    Positive:                                                NaN
..         ...                                                ...
281        NaN                                                NaN
282  Critical:                                                NaN
283        NaN                                                NaN
284        NaN                                                NaN
285        NaN                                                NaN

[286 rows x 2 columns]

# missing value treatment

In [9]:
#measure the nan(null) values in df
df.isnull().sum()

feedback            186
review-full-text    213
dtype: int64

In [10]:
#percentage of nan(null) values in df
nullper=(df.isnull().sum()/len(df))*100
print(nullper)

feedback            65.034965
review-full-text    74.475524
dtype: float64

In [11]:
df.dropna(axis=0 ,inplace=True) #delete those rows who has NAN values

In [12]:
df                  #35 rows are non null it is not good for data

      feedback                                   review-full-text
1    Positive:  I enrolled for data science course. I got to l...
2    Positive:  All the teaching staff and non-teaching staff ...
6    Positive:  I was looking forward to enhancing my technica...
7    Positive:  I joined I.T. Vedant in march 2020 to learn Py...
11   Positive:  I enrolled for data science course. I got to l...
12   Positive:  All the teaching staff and non-teaching staff ...
16   Positive:  I was looking forward to enhancing my technica...
17   Positive:  I joined I.T. Vedant in march 2020 to learn Py...
20   Positive:  Itvedant is a great institute to look for, if ...
21   Positive:  I have joined this institute on 3rd Sept. 2019...
22   Positive:  I just attended the counselling session and it...
23   Positive:  I am currently enrolled in Data Science course...
26   Positive:  I have enrolled for the Data science class in ...
28   Positive:  I joined ITVedant in December 2020. I enrolled...
31   Positive:  I had completed Data science course from Itved...
32   Positive:  Joined Itvedant on August 2020 , So here's my ...
33   Positive:  Itvedant have not only a student friendly envi...
34   Positive:  ItVedant is a amazing institute for different ...
37   Positive:  I joined IT Vedant for data science course.Tea...
38   Positive:  IT-Vedant is a very good Institute where you c...
40   Positive:  Hi, during lockdown I had so much of spare tim...
43   Positive:  I joined Itvedant few months back to enroll my...
45   Positive:  Firstly I really want to appreciate and thank ...
52   Positive:  IT Vedant is a good institute they actually he...
53   Positive:  Itvedant is the best place for learning variou...
54   Positive:  Itvedant is best training institute for IT cou...
55   Positive:  I would highly recommend ITVedant. The institu...
56   Positive:  Personal attention given by the faculty is why...
64   Positive:  Good  institude .specially namrata mam provide...
67   Positive:  One of the best institute for python , dbms , ...
73   Positive:  I had enrolled for Data science basic course a...
78   Positive:  I joined ITVedant in December 2019. I enrolled...
85   Positive:  "Perfection & excellence way of teaching"".SHI...
88   Positive:  ITVedant gives me best in class career guidanc...
207  Positive:  (Translated by Google) Meena mam, chetna mam, ...

In [13]:
df.info() #35 rows are non null

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 1 to 207
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   feedback          35 non-null     object
 1   review-full-text  35 non-null     object
dtypes: object(2)
memory usage: 840.0+ bytes

In [14]:
df.isnull().sum()

feedback            0
review-full-text    0
dtype: int64

In [15]:
#missing value treatment in categorical values using mode 
#df['feedback'] = df['feedback'].fillna(df['feedback'].mode()[0])
#df['review-full-text'] = df['review-full-text'].fillna(df['review-full-text'].mode()[0])

In [16]:
df

      feedback                                   review-full-text
1    Positive:  I enrolled for data science course. I got to l...
2    Positive:  All the teaching staff and non-teaching staff ...
6    Positive:  I was looking forward to enhancing my technica...
7    Positive:  I joined I.T. Vedant in march 2020 to learn Py...
11   Positive:  I enrolled for data science course. I got to l...
12   Positive:  All the teaching staff and non-teaching staff ...
16   Positive:  I was looking forward to enhancing my technica...
17   Positive:  I joined I.T. Vedant in march 2020 to learn Py...
20   Positive:  Itvedant is a great institute to look for, if ...
21   Positive:  I have joined this institute on 3rd Sept. 2019...
22   Positive:  I just attended the counselling session and it...
23   Positive:  I am currently enrolled in Data Science course...
26   Positive:  I have enrolled for the Data science class in ...
28   Positive:  I joined ITVedant in December 2020. I enrolled...
31   Positive:  I had completed Data science course from Itved...
32   Positive:  Joined Itvedant on August 2020 , So here's my ...
33   Positive:  Itvedant have not only a student friendly envi...
34   Positive:  ItVedant is a amazing institute for different ...
37   Positive:  I joined IT Vedant for data science course.Tea...
38   Positive:  IT-Vedant is a very good Institute where you c...
40   Positive:  Hi, during lockdown I had so much of spare tim...
43   Positive:  I joined Itvedant few months back to enroll my...
45   Positive:  Firstly I really want to appreciate and thank ...
52   Positive:  IT Vedant is a good institute they actually he...
53   Positive:  Itvedant is the best place for learning variou...
54   Positive:  Itvedant is best training institute for IT cou...
55   Positive:  I would highly recommend ITVedant. The institu...
56   Positive:  Personal attention given by the faculty is why...
64   Positive:  Good  institude .specially namrata mam provide...
67   Positive:  One of the best institute for python , dbms , ...
73   Positive:  I had enrolled for Data science basic course a...
78   Positive:  I joined ITVedant in December 2019. I enrolled...
85   Positive:  "Perfection & excellence way of teaching"".SHI...
88   Positive:  ITVedant gives me best in class career guidanc...
207  Positive:  (Translated by Google) Meena mam, chetna mam, ...

In [17]:
from sklearn.preprocessing import LabelEncoder 
le=LabelEncoder()
for col in df:
    df['feedback']=le.fit_transform(df['feedback'])

In [18]:
df

     feedback                                   review-full-text
1           0  I enrolled for data science course. I got to l...
2           0  All the teaching staff and non-teaching staff ...
6           0  I was looking forward to enhancing my technica...
7           0  I joined I.T. Vedant in march 2020 to learn Py...
11          0  I enrolled for data science course. I got to l...
12          0  All the teaching staff and non-teaching staff ...
16          0  I was looking forward to enhancing my technica...
17          0  I joined I.T. Vedant in march 2020 to learn Py...
20          0  Itvedant is a great institute to look for, if ...
21          0  I have joined this institute on 3rd Sept. 2019...
22          0  I just attended the counselling session and it...
23          0  I am currently enrolled in Data Science course...
26          0  I have enrolled for the Data science class in ...
28          0  I joined ITVedant in December 2020. I enrolled...
31          0  I had completed Data science course from Itved...
32          0  Joined Itvedant on August 2020 , So here's my ...
33          0  Itvedant have not only a student friendly envi...
34          0  ItVedant is a amazing institute for different ...
37          0  I joined IT Vedant for data science course.Tea...
38          0  IT-Vedant is a very good Institute where you c...
40          0  Hi, during lockdown I had so much of spare tim...
43          0  I joined Itvedant few months back to enroll my...
45          0  Firstly I really want to appreciate and thank ...
52          0  IT Vedant is a good institute they actually he...
53          0  Itvedant is the best place for learning variou...
54          0  Itvedant is best training institute for IT cou...
55          0  I would highly recommend ITVedant. The institu...
56          0  Personal attention given by the faculty is why...
64          0  Good  institude .specially namrata mam provide...
67          0  One of the best institute for python , dbms , ...
73          0  I had enrolled for Data science basic course a...
78          0  I joined ITVedant in December 2019. I enrolled...
85          0  "Perfection & excellence way of teaching"".SHI...
88          0  ITVedant gives me best in class career guidanc...
207         0  (Translated by Google) Meena mam, chetna mam, ...

In [19]:
stop = stopwords.words("english")
def clean_text(text):
  tokens = word_tokenize(text.lower())
  # Filter only alphabets
  word_tokens = [t for t in tokens if t.isalpha()]
  clean_tokens = [t for t in word_tokens if t not in stop]
  lemma = WordNetLemmatizer()
  lemma_tokens = [lemma.lemmatize(t) for t in clean_tokens]
  return " ".join(lemma_tokens)

In [20]:
df['review-full-text'] = df['review-full-text'].apply(clean_text)

In [21]:
df['review-full-text'].head()

1     enrolled data science course got learn many th...
2     teaching staff staff professional available as...
6     looking forward enhancing technical knowledge ...
7     joined vedant march learn python language hone...
11    enrolled data science course got learn many th...
Name: review-full-text, dtype: object

In [22]:
x= df['review-full-text']
y= df['feedback']

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [24]:
sent_len = []
for t in df['review-full-text']:
  sent_len.append(len(word_tokenize(t)))
df['sent_len'] = sent_len
df.head()

    feedback                                   review-full-text  sent_len
1          0  enrolled data science course got learn many th...        39
2          0  teaching staff staff professional available as...        32
6          0  looking forward enhancing technical knowledge ...        31
7          0  joined vedant march learn python language hone...        80
11         0  enrolled data science course got learn many th...        39

In [25]:
max(sent_len)

96

In [26]:
np.quantile(sent_len, 0.95)

80.0

In [27]:
max_len = 80

In [28]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.preprocessing.text import Tokenizer 
# Creates dictionary and every unique word is given number key
from tensorflow.keras.preprocessing import sequence
# To perform the padding of the documents with zero's to make the length of the
# document common
from tensorflow.keras.layers import (LSTM, Dropout, Embedding, SimpleRNN, GRU)
# All the index numbers are converted to vectors using Embedding
# SimpleRNN allows to implement the RNN architecture - activation function -tanh
# Dropout - manage overfitting of model

In [29]:
# Tokenization
tok = Tokenizer(char_level=False, split=" ")
tok.fit_on_texts(x_train)

In [30]:
tok.index_word

{1: 'itvedant',
 2: 'knowledge',
 3: 'also',
 4: 'course',
 5: 'staff',
 6: 'teaching',
 7: 'institute',
 8: 'learning',
 9: 'good',
 10: 'best',
 11: 'experience',
 12: 'data',
 13: 'science',
 14: 'practical',
 15: 'would',
 16: 'help',
 17: 'sir',
 18: 'concept',
 19: 'topic',
 20: 'faculty',
 21: 'enrolled',
 22: 'python',
 23: 'joined',
 24: 'vedant',
 25: 'recommend',
 26: 'get',
 27: 'really',
 28: 'great',
 29: 'supportive',
 30: 'mam',
 31: 'like',
 32: 'thing',
 33: 'got',
 34: 'helpful',
 35: 'every',
 36: 'student',
 37: 'assignment',
 38: 'doubt',
 39: 'understand',
 40: 'friendly',
 41: 'class',
 42: 'session',
 43: 'way',
 44: 'much',
 45: 'development',
 46: 'want',
 47: 'learn',
 48: 'project',
 49: 'excellent',
 50: 'meena',
 51: 'always',
 52: 'understanding',
 53: 'theoretical',
 54: 'given',
 55: 'solving',
 56: 'experienced',
 57: 'programming',
 58: 'everyone',
 59: 'field',
 60: 'clear',
 61: 'far',
 62: 'highly',
 63: 'non',
 64: 'work',
 65: 'training',
 66: 'many',
 67: 'technical',
 68: 'especially',
 69: 'solve',
 70: 'interesting',
 71: 'gain',
 72: 'mentor',
 73: 'helped',
 74: 'shirish',
 75: 'zafar',
 76: 'web',
 77: 'skill',
 78: 'fun',
 79: 'time',
 80: 'place',
 81: 'month',
 82: 'thank',
 83: 'language',
 84: 'part',
 85: 'placed',
 86: 'basic',
 87: 'better',
 88: 'looking',
 89: 'enhancing',
 90: 'well',
 91: 'overall',
 92: 'available',
 93: 'namrata',
 94: 'teach',
 95: 'machine',
 96: 'knowledgeable',
 97: 'ready',
 98: 'provide',
 99: 'material',
 100: 'note',
 101: 'team',
 102: 'actually',
 103: 'helping',
 104: 'gon',
 105: 'na',
 106: 'ml',
 107: 'currently',
 108: 'insight',
 109: 'providing',
 110: 'test',
 111: 'people',
 112: 'grow',
 113: 'future',
 114: 'etc',
 115: 'professional',
 116: 'lot',
 117: 'join',
 118: 'new',
 119: 'full',
 120: 'stack',
 121: 'confident',
 122: 'right',
 123: 'everything',
 124: 'could',
 125: 'career',
 126: 'honestly',
 127: 'day',
 128: 'sneha',
 129: 'even',
 130: 'completing',
 131: 'case',
 132: 'suggest',
 133: 'grateful',
 134: 'online',
 135: 'enough',
 136: 'computer',
 137: 'provided',
 138: 'facility',
 139: 'definitely',
 140: 'forward',
 141: 'ago',
 142: 'told',
 143: 'technology',
 144: 'example',
 145: 'make',
 146: 'required',
 147: 'look',
 148: 'maam',
 149: 'strong',
 150: 'background',
 151: 'various',
 152: 'enquiry',
 153: 'preeti',
 154: 'management',
 155: 'industry',
 156: 'learnedmany',
 157: 'terminology',
 158: 'proactive',
 159: 'pandey',
 160: 'yo',
 161: 'query',
 162: 'rajani',
 163: 'related',
 164: 'practice',
 165: 'attended',
 166: 'counselling',
 167: 'par',
 168: 'head',
 169: 'counsellor',
 170: 'miss',
 171: 'pooja',
 172: 'salgaonkar',
 173: 'mindset',
 174: 'fresher',
 175: 'andd',
 176: 'tried',
 177: 'walk',
 178: 'shoe',
 179: 'find',
 180: 'effectiveness',
 181: 'towards',
 182: 'honest',
 183: 'hype',
 184: 'anything',
 185: 'transparent',
 186: 'bring',
 187: 'table',
 188: 'raise',
 189: 'cv',
 190: 'edge',
 191: 'others',
 192: 'delighted',
 193: 'come',
 194: 'across',
 195: 'guiding',
 196: 'trust',
 197: 'rely',
 198: 'upon',
 199: 'one',
 200: 'dbms',
 201: 'sirish',
 202: 'stage',
 203: 'gaining',
 204: 'useful',
 205: 'application',
 206: 'difficulty',
 207: 'problem',
 208: 'cemented',
 209: 'aspiring',
 210: 'try',
 211: 'individually',
 212: 'stand',
 213: 'december',
 214: 'database',
 215: 'django',
 216: 'must',
 217: 'say',
 218: 'nice',
 219: 'trainer',
 220: 'mayuresh',
 221: 'pranit',
 222: 'learnt',
 223: 'evolved',
 224: 'august',
 225: 'journey',
 226: 'started',
 227: 'developer',
 228: 'practically',
 229: 'hand',
 230: 'theory',
 231: 'humbled',
 232: 'polite',
 233: 'nature',
 234: 'going',
 235: 'guide',
 236: 'single',
 237: 'step',
 238: 'input',
 239: 'taking',
 240: 'valuable',
 241: 'indeed',
 242: 'strategy',
 243: 'awesome',
 244: 'eventhough',
 245: 'task',
 246: 'period',
 247: 'upgrade',
 248: 'software',
 249: 'back',
 250: 'enroll',
 251: 'learned',
 252: 'specially',
 253: 'amreen',
 254: 'glad',
 255: 'newbie',
 256: 'anyone',
 257: 'pursue',
 258: 'march',
 259: 'clue',
 260: 'cause',
 261: 'school',
 262: 'lohana',
 263: 'amazing',
 264: 'super',
 265: 'touch',
 266: 'took',
 267: 'little',
 268: 'idea',
 269: 'patient',
 270: 'repeated',
 271: 'grab',
 272: 'first',
 273: 'rather',
 274: 'spending',
 275: 'huge',
 276: 'sum',
 277: 'money',
 278: 'company',
 279: 'edureka',
 280: 'coursera',
 281: 'swear',
 282: 'torry',
 283: 'harris',
 284: 'business',
 285: 'solution',
 286: 'hope',
 287: 'recognition',
 288: 'deserves',
 289: 'firstly',
 290: 'appreciate',
 291: 'platform',
 292: 'belong',
 293: 'rural',
 294: 'area',
 295: 'rajasthan',
 296: 'thus',
 297: 'complete',
 298: 'attentive',
 299: 'special',
 300: 'thanks',
 301: 'archana',
 302: 'analyzed',
 303: 'ability',
 304: 'weakness',
 305: 'strengthen',
 306: 'weak',
 307: 'point',
 308: 'interactive',
 309: 'attention',
 310: 'approach',
 311: 'study',
 312: 'intro',
 313: 'resume',
 314: 'preparation',
 315: 'cracking',
 316: 'enthusiast',
 317: 'willing',
 318: 'recommended',
 319: 'assistance',
 320: 'pg',
 321: 'arrangement',
 322: 'upto',
 323: 'date',
 324: 'portal',
 325: 'app',
 326: 'keep',
 327: 'track',
 328: 'progress',
 329: 'encourage',
 330: 'followed',
 331: 'path',
 332: 'n',
 333: 'interview',
 334: 'thane',
 335: 'job',
 336: 'biggest',
 337: 'benefit',
 338: 'joining',
 339: 'mumbai',
 340: 'provides',
 341: 'placement',
 342: 'guarantee',
 343: 'agreement',
 344: 'recently',
 345: 'youth',
 346: 'brief',
 347: 'infrastructure',
 348: 'affordable',
 349: 'fee',
 350: 'perfection',
 351: 'excellence',
 352: 'depth',
 353: 'php',
 354: 'alsoother',
 355: 'elaborate',
 356: 'simple',
 357: 'mannerso',
 358: 'institude',
 359: 'kindsupport',
 360: 'include',
 361: 'andpractical',
 362: 'quickly',
 363: 'thxs',
 364: 'pande',
 365: 'guider',
 366: 'andstudent',
 367: 'environment',
 368: 'share',
 369: 'lockdown',
 370: 'webinars',
 371: 'organised',
 372: 'show',
 373: 'contribute',
 374: 'starting',
 375: 'panday',
 376: 'explained',
 377: 'simpliest',
 378: 'humble',
 379: 'made',
 380: 'easier',
 381: 'coding',
 382: 'extremely',
 383: 'method',
 384: 'two',
 385: 'communication',
 386: 'focus',
 387: 'clearing',
 388: 'end',
 389: 'surely',
 390: 'give',
 391: 'confidence',
 392: 'develop',
 393: 'module',
 394: 'decode',
 395: 'dream',
 396: 'precise',
 397: 'manner',
 398: 'need',
 399: 'code',
 400: 'program',
 401: 'sweet',
 402: 'among',
 403: 'unique',
 404: 'style',
 405: 'explains',
 406: 'us',
 407: 'hard',
 408: 'easy',
 409: 'explain',
 410: 'till',
 411: 'crystal',
 412: 'top',
 413: 'knowlegde',
 414: 'covered',
 415: 'taught',
 416: 'lecture',
 417: 'uninterrupted',
 418: 'difference',
 419: 'living',
 420: 'uk',
 421: 'support',
 422: 'offered',
 423: 'fantastic',
 424: 'consistent',
 425: 'thankful',
 426: 'designed',
 427: 'meet',
 428: 'standard',
 429: 'cover',
 430: 'emphasis',
 431: 'completed',
 432: 'kindness',
 433: 'shared',
 434: 'impossible',
 435: 'without',
 436: 'guidence',
 437: 'achieve',
 438: 'goal',
 439: 'thanking',
 440: 'secure',
 441: 'behaviour',
 442: 'throughout'}

In [31]:
vocab_len = len(tok.index_word)
vocab_len

442

In [32]:
seq_train = tok.texts_to_sequences(x_train)
seq_train

[[21,
  12,
  13,
  41,
  24,
  156,
  66,
  67,
  157,
  22,
  95,
  8,
  3,
  6,
  5,
  158,
  68,
  50,
  159,
  30,
  96,
  51,
  97,
  160,
  69,
  161,
  162,
  30,
  52,
  51,
  16,
  41,
  163,
  53,
  2,
  3,
  14,
  2,
  54,
  41,
  3,
  98,
  164,
  99,
  100,
  101],
 [165,
  166,
  42,
  167,
  168,
  169,
  170,
  171,
  172,
  43,
  9,
  52,
  173,
  174,
  31,
  175,
  176,
  177,
  178,
  102,
  103,
  179,
  180,
  181,
  8,
  182,
  70,
  183,
  184,
  185,
  32,
  33,
  186,
  187,
  32,
  104,
  105,
  188,
  189,
  71,
  190,
  191,
  44,
  192,
  193,
  194,
  195,
  72,
  196,
  197,
  198],
 [199, 10, 7, 22, 200, 106, 201, 17, 10, 5, 5, 34, 35, 202],
 [107,
  21,
  12,
  13,
  4,
  1,
  73,
  203,
  204,
  108,
  2,
  205,
  51,
  16,
  36,
  206,
  207,
  208,
  109,
  9,
  4,
  99,
  110,
  37,
  38,
  55,
  15,
  25,
  209,
  111,
  210,
  4,
  54,
  1,
  16,
  112,
  211,
  3,
  16,
  39,
  212,
  113],
 [23,
  1,
  213,
  21,
  4,
  22,
  214,
  215,
  114,
  216,
  217,
  8,
  11,
  1,
  218,
  219,
  56,
  115,
  74,
  17,
  220,
  17,
  75,
  17,
  221,
  17,
  114,
  222,
  116,
  32,
  18,
  76,
  45,
  1,
  223,
  57,
  15,
  25,
  58,
  117,
  1,
  46,
  47,
  57,
  118,
  77,
  59],
 [23,
  1,
  224,
  225,
  226,
  21,
  119,
  120,
  76,
  227,
  26,
  228,
  229,
  230,
  26,
  60,
  52,
  19,
  5,
  27,
  231,
  232,
  233,
  234,
  235,
  35,
  236,
  237,
  238,
  239,
  42,
  27,
  240,
  241,
  8,
  242,
  243,
  78,
  244,
  26,
  37,
  48,
  26,
  121,
  245,
  54,
  79,
  246,
  11,
  27,
  46,
  247,
  59,
  248,
  122,
  80],
 [23,
  1,
  81,
  249,
  250,
  22,
  45,
  4,
  251,
  44,
  61,
  10,
  6,
  5,
  15,
  252,
  31,
  82,
  253,
  73,
  44,
  123,
  27,
  254,
  124,
  112,
  77,
  255,
  62,
  25,
  1,
  256,
  46,
  257,
  125],
 [23,
  24,
  258,
  47,
  22,
  83,
  126,
  259,
  57,
  260,
  9,
  261,
  127,
  20,
  128,
  262,
  263,
  27,
  9,
  10,
  84,
  8,
  264,
  78,
  26,
  265,
  20,
  129,
  41,
  60,
  130,
  22,
  266,
  95,
  8,
  126,
  267,
  268,
  106,
  128,
  269,
  58,
  270,
  19,
  131,
  271,
  272,
  15,
  132,
  58,
  273,
  274,
  275,
  276,
  277,
  278,
  31,
  279,
  280,
  117,
  24,
  281,
  104,
  105,
  44,
  78,
  24,
  33,
  85,
  282,
  283,
  284,
  285,
  51,
  133,
  286,
  24,
  26,
  287,
  288],
 [289,
  27,
  46,
  290,
  82,
  1,
  109,
  49,
  134,
  291,
  47,
  71,
  135,
  2,
  292,
  293,
  294,
  295,
  296,
  86,
  2,
  57,
  136,
  13,
  297,
  119,
  120,
  76,
  45,
  27,
  28,
  135,
  2,
  11,
  59,
  63,
  6,
  5,
  3,
  29,
  298,
  103,
  299,
  300,
  301,
  75,
  17,
  302,
  303,
  304,
  305,
  306,
  307,
  73,
  39,
  86,
  32,
  64,
  137,
  10,
  138,
  31,
  308,
  309,
  35,
  38,
  42,
  100,
  37,
  26,
  14,
  310,
  131,
  311,
  87,
  108,
  53,
  14,
  312,
  110,
  77,
  313,
  314,
  42,
  315,
  66,
  15,
  139,
  132,
  316,
  317,
  71,
  2,
  59,
  62,
  318],
 [88,
  140,
  89,
  67,
  2,
  61,
  23,
  1,
  7,
  81,
  141,
  21,
  22,
  45,
  6,
  5,
  29,
  3,
  20,
  34,
  38,
  55,
  90,
  56,
  14,
  64,
  37,
  48,
  91,
  28,
  11],
 [6,
  5,
  5,
  115,
  92,
  319,
  12,
  13,
  320,
  4,
  7,
  11,
  321,
  322,
  323,
  3,
  324,
  325,
  16,
  101,
  326,
  327,
  328,
  329,
  123,
  142,
  330,
  331,
  332,
  33,
  85,
  333],
 [21,
  12,
  13,
  86,
  4,
  1,
  334,
  15,
  25,
  58,
  107,
  88,
  335,
  12,
  13,
  4,
  336,
  337,
  338,
  7,
  339,
  340,
  341,
  342,
  343,
  344,
  85,
  345,
  143,
  346,
  49,
  5,
  9,
  347,
  348,
  349,
  82,
  1],
 [350,
  351,
  43,
  6,
  17,
  10,
  144,
  352,
  2,
  138,
  49,
  47,
  116,
  118,
  2,
  353,
  354,
  74,
  355,
  35,
  19,
  356,
  357,
  39,
  18,
  49,
  65,
  54,
  1],
 [9,
  358,
  93,
  30,
  98,
  359,
  145,
  121,
  65,
  42,
  3,
  9,
  360,
  53,
  361,
  65,
  16,
  39,
  32,
  362,
  3,
  31,
  363,
  50,
  364,
  30,
  9,
  365,
  366,
  40],
 [1,
  36,
  40,
  367,
  8,
  18,
  12,
  13,
  4,
  3,
  20,
  368,
  11,
  146,
  16,
  36,
  147,
  68,
  369,
  134,
  41,
  370,
  371,
  372,
  44,
  1,
  373,
  113,
  35,
  36,
  10,
  80,
  125,
  374,
  89,
  2,
  15,
  62,
  25,
  1,
  12],
 [23,
  24,
  12,
  13,
  63,
  6,
  5,
  50,
  375,
  148,
  28,
  8,
  11,
  18,
  376,
  377,
  93,
  148,
  378,
  6,
  63,
  6,
  5,
  40,
  69,
  38,
  14,
  2,
  379,
  380,
  39,
  18,
  90],
 [88,
  140,
  89,
  67,
  2,
  61,
  23,
  1,
  7,
  81,
  141,
  21,
  22,
  45,
  6,
  5,
  29,
  3,
  20,
  34,
  38,
  55,
  90,
  56,
  14,
  64,
  37,
  48,
  91,
  28,
  11],
 [1,
  28,
  7,
  147,
  46,
  381,
  18,
  149,
  60,
  20,
  382,
  29,
  383,
  6,
  28,
  384,
  43,
  385,
  10,
  84,
  386,
  14,
  2,
  16,
  387,
  18,
  388,
  389,
  390,
  391,
  392,
  48,
  393],
 [24,
  9,
  7,
  102,
  16,
  394,
  395,
  20,
  56,
  94,
  35,
  18,
  396,
  397,
  398,
  150,
  150,
  399,
  400,
  94,
  43,
  3,
  5,
  3,
  401,
  15,
  139,
  25],
 [1,
  10,
  80,
  8,
  151,
  136,
  83,
  151,
  143,
  33,
  9,
  11,
  122,
  127,
  152,
  79,
  152,
  153,
  142,
  4,
  10,
  402,
  92,
  4,
  7,
  20,
  403,
  6,
  404,
  31,
  75,
  17,
  50,
  405,
  19,
  40,
  83,
  74,
  17,
  406,
  144,
  94,
  19,
  145,
  407,
  19,
  408,
  39,
  111,
  97,
  409,
  19,
  410,
  19,
  411,
  60,
  14,
  43,
  6,
  10,
  84,
  92,
  36,
  412,
  154,
  34,
  29],
 [23,
  7,
  28,
  11,
  7,
  8,
  33,
  14,
  413,
  414,
  18,
  87,
  5,
  415,
  149,
  2,
  4,
  70,
  8,
  40,
  69,
  38,
  416,
  3,
  70,
  52,
  91,
  87,
  7],
 [15,
  62,
  25,
  1,
  7,
  137,
  49,
  417,
  65,
  61,
  129,
  79,
  418,
  419,
  420,
  421,
  422,
  423,
  424,
  154,
  68,
  153,
  30,
  93,
  30,
  133,
  124,
  425],
 [21,
  12,
  13,
  4,
  33,
  47,
  66,
  32,
  4,
  4,
  426,
  427,
  155,
  428,
  429,
  19,
  146,
  64,
  155,
  6,
  20,
  34,
  96,
  3,
  63,
  6,
  5,
  3,
  53,
  2,
  3,
  430,
  14,
  2,
  55,
  37,
  130,
  48,
  36],
 [431,
  12,
  13,
  4,
  1,
  7,
  11,
  1,
  7,
  72,
  29,
  432,
  433,
  15,
  434,
  435,
  436,
  437,
  438,
  439,
  1,
  7,
  34,
  29,
  40,
  440,
  9,
  2,
  441,
  72,
  442,
  4]]

In [33]:
seq_padded_train = sequence.pad_sequences(seq_train, maxlen=max_len)#convert word to number in array and add zero maintain sequence
seq_padded_train

array([[  0,   0,   0, ...,  99, 100, 101],
       [  0,   0,   0, ..., 196, 197, 198],
       [  0,   0,   0, ...,  34,  35, 202],
       ...,
       [  0,   0,   0, ..., 133, 124, 425],
       [  0,   0,   0, ..., 130,  48,  36],
       [  0,   0,   0, ...,  72, 442,   4]])

# RNN

In [34]:
model = Sequential()
# vectorization
model.add(Embedding(vocab_len+1,80, input_length=max_len, mask_zero=True))
# RNN layer
model.add(SimpleRNN(32, activation="tanh"))
# ANN's hidden layer
model.add(Dense(32, activation="relu"))
# To check on overfitting
model.add(Dropout(0.2))
# output layer
model.add(Dense(1, activation="sigmoid"))

In [35]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 80, 80)            35440
_________________________________________________________________
simple_rnn (SimpleRNN)       (None, 32)                3616
_________________________________________________________________
dense (Dense)                (None, 32)                1056
_________________________________________________________________
dropout (Dropout)            (None, 32)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 33
=================================================================
Total params: 40,145
Trainable params: 40,145
Non-trainable params: 0
_________________________________________________________________

In [36]:
model.compile(loss="binary_crossentropy", optimizer="adam")

In [37]:
model.fit(seq_padded_train, y_train, batch_size=50, epochs=50)

Epoch 1/50
1/1 [==============================] - 2s 2s/step - loss: 0.6782
Epoch 2/50
1/1 [==============================] - 0s 40ms/step - loss: 0.5954
Epoch 3/50
1/1 [==============================] - 0s 32ms/step - loss: 0.5302
Epoch 4/50
1/1 [==============================] - 0s 32ms/step - loss: 0.5058
Epoch 5/50
1/1 [==============================] - 0s 32ms/step - loss: 0.4536
Epoch 6/50
1/1 [==============================] - 0s 32ms/step - loss: 0.4051
Epoch 7/50
1/1 [==============================] - 0s 32ms/step - loss: 0.3816
Epoch 8/50
1/1 [==============================] - 0s 32ms/step - loss: 0.3391
Epoch 9/50
1/1 [==============================] - 0s 40ms/step - loss: 0.3230
Epoch 10/50
1/1 [==============================] - 0s 32ms/step - loss: 0.3028
Epoch 11/50
1/1 [==============================] - 0s 32ms/step - loss: 0.2674
Epoch 12/50
1/1 [==============================] - 0s 32ms/step - loss: 0.2424
Epoch 13/50
1/1 [==============================] - 0s 24ms/step - loss: 0.2434
Epoch 14/50
1/1 [==============================] - 0s 24ms/step - loss: 0.1927
Epoch 15/50
1/1 [==============================] - 0s 16ms/step - loss: 0.1904
Epoch 16/50
1/1 [==============================] - 0s 24ms/step - loss: 0.1658
Epoch 17/50
1/1 [==============================] - 0s 16ms/step - loss: 0.1487
Epoch 18/50
1/1 [==============================] - 0s 16ms/step - loss: 0.1524
Epoch 19/50
1/1 [==============================] - 0s 16ms/step - loss: 0.1271
Epoch 20/50
1/1 [==============================] - 0s 16ms/step - loss: 0.1215
Epoch 21/50
1/1 [==============================] - 0s 24ms/step - loss: 0.1211
Epoch 22/50
1/1 [==============================] - 0s 24ms/step - loss: 0.1227
Epoch 23/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0871
Epoch 24/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0790
Epoch 25/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0681
Epoch 26/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0819
Epoch 27/50
1/1 [==============================] - 0s 24ms/step - loss: 0.0652
Epoch 28/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0510
Epoch 29/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0347
Epoch 30/50
1/1 [==============================] - 0s 24ms/step - loss: 0.0433
Epoch 31/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0441
Epoch 32/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0416
Epoch 33/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0341
Epoch 34/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0364
Epoch 35/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0231
Epoch 36/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0301
Epoch 37/50
1/1 [==============================] - 0s 24ms/step - loss: 0.0256
Epoch 38/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0243
Epoch 39/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0201
Epoch 40/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0234
Epoch 41/50
1/1 [==============================] - 0s 24ms/step - loss: 0.0201
Epoch 42/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0151
Epoch 43/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0141
Epoch 44/50
1/1 [==============================] - 0s 24ms/step - loss: 0.0108
Epoch 45/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0109
Epoch 46/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0099
Epoch 47/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0103
Epoch 48/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0117
Epoch 49/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0115
Epoch 50/50
1/1 [==============================] - 0s 16ms/step - loss: 0.0118

In [38]:
seq_test = tok.texts_to_sequences(x_test)
seq_test

[[369,
  44,
  79,
  63,
  150,
  124,
  8,
  57,
  338,
  24,
  8,
  76,
  254,
  122,
  6,
  63,
  6,
  5,
  93,
  82,
  195,
  75,
  17,
  6,
  10,
  43,
  124,
  47],
 [1,
  390,
  10,
  41,
  125,
  369,
  246,
  3,
  85,
  227,
  300,
  221,
  17,
  421,
  3,
  300,
  17,
  17,
  75,
  28,
  8,
  11,
  1],
 [50,
  30,
  30,
  128,
  30,
  6,
  1,
  5,
  93,
  30,
  30,
  30,
  36,
  50,
  30,
  30,
  128,
  30,
  6,
  1,
  5,
  93,
  30,
  30,
  30,
  36],
 [1,
  10,
  65,
  7,
  4,
  1,
  225,
  226,
  21,
  22,
  227,
  26,
  228,
  229,
  230,
  26,
  60,
  52,
  15,
  31,
  300,
  301,
  30,
  74,
  17,
  220,
  17,
  17,
  30,
  5,
  9,
  92,
  15,
  31,
  300,
  30,
  93,
  30,
  5,
  3,
  300,
  17,
  3,
  195,
  163,
  313,
  93,
  30,
  16,
  35,
  299,
  27,
  46,
  145,
  15,
  132,
  1],
 [6,
  5,
  5,
  115,
  92,
  319,
  12,
  13,
  320,
  4,
  7,
  11,
  321,
  322,
  323,
  3,
  324,
  325,
  16,
  101,
  326,
  327,
  328,
  329,
  123,
  142,
  330,
  331,
  332,
  33,
  85,
  333],
 [23,
  24,
  258,
  47,
  22,
  83,
  126,
  259,
  57,
  260,
  9,
  261,
  127,
  20,
  128,
  262,
  263,
  27,
  9,
  10,
  84,
  8,
  264,
  78,
  26,
  265,
  20,
  129,
  41,
  60,
  130,
  22,
  266,
  95,
  8,
  126,
  267,
  268,
  106,
  128,
  269,
  58,
  270,
  19,
  131,
  271,
  272,
  15,
  132,
  58,
  273,
  274,
  275,
  276,
  277,
  278,
  31,
  279,
  280,
  117,
  24,
  281,
  104,
  105,
  44,
  78,
  24,
  33,
  85,
  282,
  283,
  284,
  285,
  51,
  133,
  286,
  24,
  26,
  287,
  288],
 [309,
  54,
  20,
  15,
  25,
  24,
  421,
  59,
  124,
  18,
  145,
  48,
  91,
  9,
  4,
  47,
  399,
  5,
  28,
  68,
  75,
  17,
  220,
  17,
  74,
  17],
 [23,
  1,
  213,
  21,
  4,
  76,
  109,
  49,
  134,
  291,
  47,
  71,
  135,
  2,
  57,
  14,
  2,
  379,
  380,
  39,
  18,
  90,
  48,
  16,
  64,
  11,
  381,
  77,
  9,
  286,
  74,
  17,
  10,
  144,
  6,
  63,
  6,
  5,
  40,
  69,
  38,
  217,
  28,
  11,
  46,
  125],
 [21,
  12,
  13,
  4,
  33,
  47,
  66,
  32,
  4,
  4,
  426,
  427,
  155,
  428,
  429,
  19,
  146,
  64,
  155,
  6,
  20,
  34,
  96,
  3,
  63,
  6,
  5,
  3,
  53,
  2,
  3,
  430,
  14,
  2,
  55,
  37,
  130,
  48,
  36],
 [9,
  7,
  77,
  72,
  103,
  4,
  137,
  72,
  27,
  34,
  69,
  38,
  416,
  90,
  5,
  3,
  27,
  28,
  55,
  341,
  163,
  110,
  27,
  28,
  390,
  268,
  35,
  393,
  20,
  60,
  3,
  54,
  163,
  144,
  381,
  217,
  28,
  11,
  46,
  125],
 [1,
  263,
  7,
  76,
  4,
  11,
  1,
  263,
  7,
  311,
  18,
  38,
  79,
  3,
  416,
  110,
  110,
  73,
  9,
  154,
  101,
  73,
  116,
  42,
  73,
  77,
  2,
  15,
  62,
  25,
  1,
  76,
  4]]

In [39]:
seq_padded_test = sequence.pad_sequences(seq_test, maxlen=max_len)
seq_padded_test

array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        369,  44,  79,  63, 150, 124,   8,  57, 338,  24,   8,  76, 254,
        122,   6,  63,   6,   5,  93,  82, 195,  75,  17,   6,  10,  43,
        124,  47],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   1, 390,  10,  41, 125, 369, 246,   3,
         85, 227, 300, 221,  17, 421,   3, 300,  17,  17,  75,  28,   8,
         11,   1],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,  50,  30,  30, 128,  30,   6,   1,   5,  93,  30,  30,
         30,  36,  50,  30,  30, 128,  30,   6,   1,   5,  93,  30,  30,
         30,  36],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,  10,  65,
          7,   4,   1, 225, 226,  21,  22, 227,  26, 228, 229, 230,  26,
         60,  52,  15,  31, 300, 301,  30,  74,  17, 220,  17,  17,  30,
          5,   9,  92,  15,  31, 300,  30,  93,  30,   5,   3, 300,  17,
          3, 195, 163, 313,  93,  30,  16,  35, 299,  27,  46, 145,  15,
        132,   1],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   6,   5,   5, 115,
         92, 319,  12,  13, 320,   4,   7,  11, 321, 322, 323,   3, 324,
        325,  16, 101, 326, 327, 328, 329, 123, 142, 330, 331, 332,  33,
         85, 333],
       [ 23,  24, 258,  47,  22,  83, 126, 259,  57, 260,   9, 261, 127,
         20, 128, 262, 263,  27,   9,  10,  84,   8, 264,  78,  26, 265,
         20, 129,  41,  60, 130,  22, 266,  95,   8, 126, 267, 268, 106,
        128, 269,  58, 270,  19, 131, 271, 272,  15, 132,  58, 273, 274,
        275, 276, 277, 278,  31, 279, 280, 117,  24, 281, 104, 105,  44,
         78,  24,  33,  85, 282, 283, 284, 285,  51, 133, 286,  24,  26,
        287, 288],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0, 309,  54,  20,  15,  25,  24, 421,  59, 124,  18, 145,
         48,  91,   9,   4,  47, 399,   5,  28,  68,  75,  17, 220,  17,
         74,  17],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  23,   1, 213,  21,   4,
         76, 109,  49, 134, 291,  47,  71, 135,   2,  57,  14,   2, 379,
        380,  39,  18,  90,  48,  16,  64,  11, 381,  77,   9, 286,  74,
         17,  10, 144,   6,  63,   6,   5,  40,  69,  38, 217,  28,  11,
         46, 125],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,  21,  12,  13,   4,  33,  47,  66,  32,   4,   4, 426,
        427, 155, 428, 429,  19, 146,  64, 155,   6,  20,  34,  96,   3,
         63,   6,   5,   3,  53,   2,   3, 430,  14,   2,  55,  37, 130,
         48,  36],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   9,   7,  77,  72, 103,   4, 137,  72,  27,  34,  69,  38,
        416,  90,   5,   3,  27,  28,  55, 341, 163, 110,  27,  28, 390,
        268,  35, 393,  20,  60,   3,  54, 163, 144, 381, 217,  28,  11,
         46, 125],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   1, 263,   7,  76,   4,
         11,   1, 263,   7, 311,  18,  38,  79,   3, 416, 110, 110,  73,
          9, 154, 101,  73, 116,  42,  73,  77,   2,  15,  62,  25,   1,
         76,   4]])

In [40]:
y_hat = model.predict(seq_padded_test)

In [41]:
# y_hat contains probability
y_hat = np.where(y_hat>=0.5, 1, 0)

In [42]:
from sklearn.metrics import classification_report
print(classification_report( y_test, y_hat))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11

    accuracy                           1.00        11
   macro avg       1.00      1.00      1.00        11
weighted avg       1.00      1.00      1.00        11

# LSTM

In [43]:
model = Sequential()
# vectorization
model.add(Embedding(vocab_len+1,80, input_length=max_len, mask_zero=True))
# RNN layer
# model.add(SimpleRNN(32, activation="tanh"))
model.add(LSTM(32, activation="tanh"))
# ANN's hidden layer
model.add(Dense(32, activation="relu"))
# To check on overfitting
model.add(Dropout(0.2))
# output layer
model.add(Dense(1, activation="sigmoid"))
model.compile(loss="binary_crossentropy", optimizer="adam")
model.fit(seq_padded_train, y_train, batch_size=50, epochs=50)

Epoch 1/50
1/1 [==============================] - 5s 5s/step - loss: 0.6901
Epoch 2/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6811
Epoch 3/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6723
Epoch 4/50
1/1 [==============================] - 0s 40ms/step - loss: 0.6654
Epoch 5/50
1/1 [==============================] - 0s 48ms/step - loss: 0.6558
Epoch 6/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6483
Epoch 7/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6352
Epoch 8/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6208
Epoch 9/50
1/1 [==============================] - 0s 40ms/step - loss: 0.6106
Epoch 10/50
1/1 [==============================] - 0s 32ms/step - loss: 0.5961
Epoch 11/50
1/1 [==============================] - 0s 32ms/step - loss: 0.5811
Epoch 12/50
1/1 [==============================] - 0s 32ms/step - loss: 0.5505
Epoch 13/50
1/1 [==============================] - 0s 32ms/step - loss: 0.5305
Epoch 14/50
1/1 [==============================] - 0s 32ms/step - loss: 0.5082
Epoch 15/50
1/1 [==============================] - 0s 32ms/step - loss: 0.4712
Epoch 16/50
1/1 [==============================] - 0s 32ms/step - loss: 0.4412
Epoch 17/50
1/1 [==============================] - 0s 32ms/step - loss: 0.4102
Epoch 18/50
1/1 [==============================] - 0s 32ms/step - loss: 0.3711
Epoch 19/50
1/1 [==============================] - 0s 32ms/step - loss: 0.3170
Epoch 20/50
1/1 [==============================] - 0s 32ms/step - loss: 0.2531
Epoch 21/50
1/1 [==============================] - 0s 32ms/step - loss: 0.2216
Epoch 22/50
1/1 [==============================] - 0s 32ms/step - loss: 0.1530
Epoch 23/50
1/1 [==============================] - 0s 32ms/step - loss: 0.1106
Epoch 24/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0719
Epoch 25/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0605
Epoch 26/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0345
Epoch 27/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0311
Epoch 28/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0196
Epoch 29/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0191
Epoch 30/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0160
Epoch 31/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0124
Epoch 32/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0070
Epoch 33/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0073
Epoch 34/50
1/1 [==============================] - 0s 24ms/step - loss: 0.0048
Epoch 35/50
1/1 [==============================] - 0s 24ms/step - loss: 0.0075
Epoch 36/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0065
Epoch 37/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0047
Epoch 38/50
1/1 [==============================] - 0s 24ms/step - loss: 0.0024
Epoch 39/50
1/1 [==============================] - 0s 24ms/step - loss: 0.0025
Epoch 40/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0071
Epoch 41/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0025
Epoch 42/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0018
Epoch 43/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0015
Epoch 44/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0020
Epoch 45/50
1/1 [==============================] - 0s 48ms/step - loss: 0.0020
Epoch 46/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0046
Epoch 47/50
1/1 [==============================] - 0s 48ms/step - loss: 0.0011
Epoch 48/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0014
Epoch 49/50
1/1 [==============================] - 0s 40ms/step - loss: 9.2938e-04
Epoch 50/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0025

In [44]:
y_hat = model.predict(seq_padded_test)
y_hat = np.where(y_hat>=0.5, 1, 0)
print(classification_report(y_test, y_hat))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11

    accuracy                           1.00        11
   macro avg       1.00      1.00      1.00        11
weighted avg       1.00      1.00      1.00        11

# GRU

In [45]:
model = Sequential()
# vectorization
model.add(Embedding(vocab_len+1,80, input_length=max_len, mask_zero=True))
# GRU layer
model.add(GRU(32, activation="tanh"))
# ANN's hidden layer
model.add(Dense(32, activation="relu"))
# To check on overfitting|
model.add(Dropout(0.2))
# output layer
model.add(Dense(1, activation="sigmoid"))
model.compile(loss="binary_crossentropy", optimizer="adam")
model.fit(seq_padded_train, y_train, batch_size=50, epochs=50)

Epoch 1/50
1/1 [==============================] - 5s 5s/step - loss: 0.6949
Epoch 2/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6872
Epoch 3/50
1/1 [==============================] - 0s 40ms/step - loss: 0.6823
Epoch 4/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6746
Epoch 5/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6688
Epoch 6/50
1/1 [==============================] - 0s 40ms/step - loss: 0.6617
Epoch 7/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6511
Epoch 8/50
1/1 [==============================] - 0s 40ms/step - loss: 0.6402
Epoch 9/50
1/1 [==============================] - 0s 32ms/step - loss: 0.6326
Epoch 10/50
1/1 [==============================] - 0s 40ms/step - loss: 0.6210
Epoch 11/50
1/1 [==============================] - 0s 40ms/step - loss: 0.6123
Epoch 12/50
1/1 [==============================] - 0s 32ms/step - loss: 0.5996
Epoch 13/50
1/1 [==============================] - 0s 48ms/step - loss: 0.5763
Epoch 14/50
1/1 [==============================] - 0s 40ms/step - loss: 0.5620
Epoch 15/50
1/1 [==============================] - 0s 32ms/step - loss: 0.5583
Epoch 16/50
1/1 [==============================] - 0s 32ms/step - loss: 0.5364
Epoch 17/50
1/1 [==============================] - 0s 33ms/step - loss: 0.5206
Epoch 18/50
1/1 [==============================] - 0s 33ms/step - loss: 0.5007
Epoch 19/50
1/1 [==============================] - 0s 29ms/step - loss: 0.4614
Epoch 20/50
1/1 [==============================] - 0s 32ms/step - loss: 0.4523
Epoch 21/50
1/1 [==============================] - 0s 40ms/step - loss: 0.4317
Epoch 22/50
1/1 [==============================] - 0s 32ms/step - loss: 0.4088
Epoch 23/50
1/1 [==============================] - 0s 32ms/step - loss: 0.3702
Epoch 24/50
1/1 [==============================] - 0s 32ms/step - loss: 0.3476
Epoch 25/50
1/1 [==============================] - 0s 40ms/step - loss: 0.3149
Epoch 26/50
1/1 [==============================] - 0s 40ms/step - loss: 0.2873
Epoch 27/50
1/1 [==============================] - 0s 32ms/step - loss: 0.2698
Epoch 28/50
1/1 [==============================] - 0s 40ms/step - loss: 0.2200
Epoch 29/50
1/1 [==============================] - 0s 32ms/step - loss: 0.2082
Epoch 30/50
1/1 [==============================] - 0s 32ms/step - loss: 0.1549
Epoch 31/50
1/1 [==============================] - 0s 32ms/step - loss: 0.1330
Epoch 32/50
1/1 [==============================] - 0s 48ms/step - loss: 0.0833
Epoch 33/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0584
Epoch 34/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0601
Epoch 35/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0456
Epoch 36/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0273
Epoch 37/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0212
Epoch 38/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0141
Epoch 39/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0112
Epoch 40/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0056
Epoch 41/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0051
Epoch 42/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0062
Epoch 43/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0024
Epoch 44/50
1/1 [==============================] - 0s 40ms/step - loss: 0.0027
Epoch 45/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0040
Epoch 46/50
1/1 [==============================] - 0s 48ms/step - loss: 0.0022
Epoch 47/50
1/1 [==============================] - 0s 48ms/step - loss: 0.0014
Epoch 48/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0029
Epoch 49/50
1/1 [==============================] - 0s 32ms/step - loss: 0.0018
Epoch 50/50
1/1 [==============================] - 0s 24ms/step - loss: 8.7802e-04

In [46]:
y_hat = model.predict(seq_padded_test)
y_hat = np.where(y_hat>=0.5, 1, 0)
print(classification_report(y_test, y_hat))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11

    accuracy                           1.00        11
   macro avg       1.00      1.00      1.00        11
weighted avg       1.00      1.00      1.00        11